:root {
    --size-nav:             50px;
    --size-pad:             25px;
    --size-nav-select:      8px;
    --size-nav-b-height:    30px;
    --size-nav-intend:      10px;
    --size-rounded:         12px;
    --size-search:          300px;
    --size-search-h:        50px;
    --size-border:          2px;
    --size-credit-pad:      350px;

    --color-bg:             #222;
    --color-nav:            var(--color-bg);
    --color-text:           #fff;
    --color-text-dark:      #aaa;
    --color-hover:          rgba(255, 255, 255, .3);
    --color-main:           rgb(138, 194, 231);
    --color-second:         rgb(182, 255, 188);
    --color-third:          rgb(248, 248, 148);
    --color-fourth:         rgb(255, 101, 134);
    --color-nav-b-side:     #444;
    --color-search-bg:      #292929;
    --color-search:         #555;
    --color-search-hover:   #777;
    --color-border:         #555;
    --color-article:        #333;
    --color-article-hover:  #555;
    --color-article-info:   rgba(0, 0, 0, .3);
    --color-code:           rgba(0, 0, 0, .3);
    --color-light:          rgba(255, 255, 255, .1);

    --trans:                .5s;
    --trans-fast:           .1s;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

nav {
    display: flex;
    position: absolute;
    top: calc( 100% - var(--size-nav) );
    left: 0px;
    width: calc( 100% - var(--size-credit-pad) * 2 );
    height: var(--size-nav);
    background-color: var(--color-nav);
    transition-duration: var(--trans);
    padding-left: var(--size-credit-pad);
    padding-right: var(--size-credit-pad);
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: var(--color-text);
}

a {
    color: var(--color-text-dark);
    font-size: calc( var(--size-nav) / 3 );
    cursor: pointer;
    transition-duration: var(--trans-fast);
    user-select: none;
}

a:hover {
    color: var(--color-text);
}

nav a {
    opacity: .5;
}

nav a:hover {
    opacity: 1;
}

main {
    padding: var(--size-pad);
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc( 100% - var(--size-pad) * 2 );
    height: calc( 100% - var(--size-nav) - var(--size-pad) * 2 );
    background-color: var(--color-bg);
    transition-duration: var(--trans);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: var(--color-text);
    text-align: center;
}

#search {
    width: auto;
    display: inline-block;
}

#search div input, #search div {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: calc( var(--size-pad) / 2 );
    border-radius: calc( var(--size-search-h) / 2 );
    height: var(--size-search-h);
    color: var(--color-text);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    transition-duration: var(--trans-fast);
    display: flex;
    align-items: center;
    justify-content: center;
}

#search div {
    padding: 0px;
    padding-right: calc( var(--size-pad) / 2 );
    padding-left: calc( var(--size-pad) / 2 );
    border: var(--size-border) solid var(--color-border);
}

#search div svg {
    opacity: .3;
}

#search div input {
    width: var(--size-search);
    background-color: rgba(0, 0, 0, 0);
}

#content {
    margin-top: var(--size-pad);
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-flex;
    width: 75%;
    height: 80%;
    flex-direction: column;
    align-items: center;
}

#content article {
    background-color: var(--color-article);
    padding: var(--size-pad);
    display: inline-block;
    width: auto;
    border-radius: var(--size-rounded);
    transition-duration: var(--trans-fast);
}

#content article:hover:not(.is-open) {
    background-color: var(--color-article-hover);
}

#content article:hover {
    cursor: pointer;
}

#content article:not(:first-child) {
    margin-top: var(--size-pad);
}

#content article h1 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: calc( var(--size-pad) / 2 );
}

#content article > text {
    opacity: 0.5;
}

#content article section {
    margin-top: var(--size-pad);
    background-color: var(--color-article-info);
    padding: var(--size-pad);
    border-radius: var(--size-rounded);
    display: none;
    align-items: center;
    flex-direction: column;
    cursor: default;
}

#content article section table {
    display: block;
    text-align: left;
}

main section header {
    font-weight: 400;
    font-size: 2em;
}

main section a-credits {
    display: block;
    margin-top: calc( var(--size-pad) / 3 );
}

main section a-credits text {
    display: block;
}

.dark {
    color: var(--color-text-dark);
}

margin-top {
    margin-top: var(--size-pad);
    display: block;
}

t-dark {
    color: var(--color-text-dark);
}

t-norm {
    color: var(--color-text);
}

t-main {
    color: var(--color-main);
}

t-sec {
    color: var(--color-second);
}

t-third {
    color: var(--color-third);
}

t-fourth {
    color: var(--color-fourth);
}

t-code {
    background-color: var(--color-code);
    padding: calc( var(--size-pad) / 2 );
    border: var(--size-border) solid var(--color-code);
    border-radius: var(--size-rounded);
    font-family: 'Inconsolata', monospace;
    cursor: text;
}

.offset-copy {
    background-color: var(--color-light);
    color: var(--color-text);
    padding: calc( var(--size-pad) / 4 );
    border-radius: calc( var(--size-rounded) / 4 );
    border: none;
    transition-duration: var(--trans-fast);
}

.offset-copy:hover {
    background-color: var(--color-hover);
}